<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="stylesheet" type="text/css" href="/admin/style.css" />
    <link rel="icon" href="/img/favicon.png" />
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="/img/unifametro-logo.png" />
            <h2>Ações:</h2>
        </div>
    </header>
</body>
</html>