header{
    height: 15%;
    padding: 2rem;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: var(--primary-color);
    height: 85%;
    background: url("/img/unifametro-fonte.jpeg") center no-repeat;   
    background-size: cover;
}

.main-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.input-area{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--light-color);
    padding: 4rem;
    border-radius: 1rem;
    width: 40%;
}

label{
    font-weight: bold;
}
input{
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}