body{
    background-color: var(--primary-color);
}

main{
    height: 100vh;
    background: url("/img/unifametro-areaaluno.jpg") center no-repeat;
    background-size: cover;
}

.main-container{
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 1rem;
    width: 50%;
    min-height: 80%;
    padding: 2rem;
    color: var(--primary-color);
    text-align: center;
}

.start-button{
    width: 100%;
}