<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/home/style.css" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="icon" href="/img/favicon.png" />
    <title>Início</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="/img/unifametro-logo.png" />
        </div>
    </header>

    <main>
        <div class="main-container"></div>
    </main>
</body>
</html>