<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/home/style.css" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="icon" href="/img/favicon.png" />
    <title>Início</title>
</head>

<body>
    <main>
        <div class="main-container">
            <div class="box">
                <img src="/img/unifametro-logo.png" />
                <h1>Bem-vindos ao Sistema de Reservamento de Salas!</h1>
                <p>
                    Aqui, você pode reservar salas para aulas, estudos
                    em grupo ou reuniões de forma rápida e prática.
                    <br>
                    <br>
                    Consulte a disponibilidade e faça suas reservas
                    com facilidade. Qualquer dúvida, nossa equipe está
                    pronta para ajudar.
                    <br>
                    <br>
                    Aproveite!
                </p>

                <a class="start-button" href="/login"><button class="btn-primary">Reserve sua sala</button></a>
            </div>
        </div>
    </main>
</body>

</html>