/* Arquivo CSS principal, onde todos os views irão usar / Configurações padrões */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: sans-serif;
    height: 100vh;
}

:root{
    --primary-color: #024221;
    --secondary-color: #FF6B12;
    --light-color: white;
}

.btn-primary{
    padding: 1rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    width: 100%;
}

.btn-secondary{
    padding: 1rem;
    color: var(--light-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    width: 100%;

}

.btn-primary:hover{
    background-color: #024221cb;
}

.btn-secondary:hover{
    background-color: #ff6d12bd;
}