main{
    background-color: var(--primary-color);
    height: 100vh;
    background: url("/img/unifametro-fonte.jpeg") center no-repeat;   
    background-size: cover;
}

.main-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.input-area{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.box{
    background-color: var(--light-color);
    border-radius: 1rem;
    display: flex;
    width: 60%;
    padding: 2rem 0;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 50%;
}

form a{
    color: var(--primary-color);
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 50%;
    color: var(--primary-color);
}

.info p{
    text-align: center;
}

.info p span{
    font-weight: bold;
}

label{
    font-weight: bold;
}
input{
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}